# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Visual Studio
.vs/
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.userosscache
*.suo