@inherits LayoutComponentBase

<div class="app-container">
    <nav class="sidebar">
        <h2 class="logo">ReCourse</h2>
        <NavMenu />
    </nav>

    <main class="main-content">
        <header class="header">
            <h3>@Title</h3>
        </header>
        <section class="content-body">
            @Body
        </section>
    </main>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }
}
