<nav class="nav-links">
    <NavLink href="/" Match="NavLinkMatch.All">
        <span class="oi oi-home"></span> Home
    </NavLink>
    <NavLink href="/courses">
        📚 Courses
    </NavLink>
    <NavLink href="/trainers">
        👨‍🏫 Trainers
    </NavLink>
</nav>
